body {
  font-family: 'Times New Roman', serif;
  background:
    url('https://sun9-14.userapi.com/impg/iVKXr8bNqzesqrS91HNOgTKnQkEPZuW2xLjHTg/IxJHuOhO4K4.jpg?size=716x541&quality=96&sign=de8f75d1b1043c2dadb9805f2da88a39&type=album'); /* Economics-related background image */
  background-size: cover;
  background-position: center;
  color: #333;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 32px;
    background-color: #9795a1c8;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

button:hover {
    background-color: #5c5c5dc8;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}